<div  class="container mx-auto w-100 h-100 body-content">
    <h2>Manager System</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody class="body">
            <tr >
                <th>User</th>
                <th><a class="btn btn-outline-primary" routerLink="/managerusers/admin" routerLinkActive="active" >Go to manager Users</a></th>
            </tr>
            <tr>
                <th>Products</th>
                <th><a class="btn btn-outline-primary"  routerLink="/managerproducts/admin" routerLinkActive="active">Go to manager Products</a></th>
            </tr>
        </tbody>

    </table>
</div>
