<section class="product container mx-auto w-100 h-100 pb-md-5"  id="product">
    <div class="heading4">Manager Products</div>

          <div class="row " role="search"  >
              <app-search [search]="search" (searchEvent)="handleSearch($event)"></app-search>
          </div>


    <div class="row pt-md-5">
      <h2 class="bg-success p-2 text-white h3" > List Products   </h2>
      <div class="col-md-3 mt-5  " *ngFor="let item of listRooms">
        <div class="card" >
          <img class="w-100 " src="{{helperService.buildImage(item.avatar)}}" alt="{{item.image}}" />
          <div class="card-body   ">
              <h3 >Name: {{ item.name }}</h3>
            <p >
              Pice sale : {{ item.price }} (pice: ) <span><i></i></span>
            </p>
            <div class="d-flex">
            <!-- <button class="btn btn-primary w-100" routerLink="/product/admin/{{item._id}}">Update Product</button> -->
             <button class="btn btn-primary w-100" routerLink="/managerproducts/admin/{{item._id}}/edit" >Update Product</button>
             <button class="btn btn-info w-100" routerLink="/product/{{item._id}}">Product Detail</button>
             <button class="btn btn-outline-success w-100" (click)="clickDelete(item._id)">Delete</button>


        </div>
          </div>

        </div>
      </div>
    </div>
  </section>
