<div class="about" id="about">
    <div class="container">
      <div class="heading">About <span>Us</span></div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
          <img  src="assets/image/about.jpeg" alt="">
        </div>
        </div>
        <div class="col-lg-6">
          <h3>What Makes Our Coffee Special?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum minima numquam porro consequuntur ipsum, nulla aliquam amet quam consequatur expedita.

          <br><br>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus dicta quia maxime! Suscipit rerum similique non perferendis maiores rem, cumque explicabo exercitationem deserunt illum in aperiam natus impedit recusandae?

          <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem voluptates harum, quis excepturi voluptatum!</p>
            <button id="btn">Learn More</button>
        </div>

      </div>
    </div>
</div>
