<section class="menu" id="menu">
  <div class="container">
    <div class="heading3">Menu</div>
  </div>
  <div class="container" id="container2">
    <div class="row">
      <div class="col-md-3 py-3 py-md-0" >
        <!-- ngfor ở đây -->
        <div class="card">
          <img src="assets/image/about.jpeg" alt="">
          <div class="card-body">
            <div class="start text-center">
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <h3>Name: </h3>
            <p> pice sale: (pice: )<span><i class="fa-solid fa-cart-shopping"></i></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
